<div layout="column" flex>
    <div layout="row" layout-align="center center">
        <md-button class="md-raised md-primary" ng-class="{'md-accent': hc.show=='Region'}" ng-click="hc.show = 'Region'">Region</md-button>
        <md-button class="md-raised md-primary" ng-class="{'md-accent': hc.show=='Institutional'}" ng-click="hc.show = 'Institutional'">Institutional</md-button>
        <md-button class="md-raised md-primary" ng-class="{'md-accent': hc.show=='Beneficiary'}" ng-click="hc.show = 'Beneficiary'">Beneficiary</md-button>
    </div>
    <div flex layout="row">
        <div flex=75 layout="column">
            <h2>{{hc.outcome}} By {{hc.group}}</h2>
            <bar-spark data="hc.data" group="hc.barX" prop="hc.barY" flex></bar-spark>
            <box-whisker data="hc.boxData" group="hc.barX" prop="hc.barY" flex></box-whisker>
        </div>
        <div flex=25>
            <div layout="column">
                <div>
                    <h1>{{hc.show}} Controls</h1>
                    <md-subheader>Group By:</md-subheader>
                    <md-radio-group ng-model="hc.group">
                        <md-radio-button value="Apple" >Organization Type</md-radio-button>
                        <md-radio-button value="Banana"> Profit Status </md-radio-button>
                        <md-radio-button value="Years">Years Certified</md-radio-button>
                        <md-radio-button value="Size">Size</md-radio-button>
                        <md-radio-button value="Region">Region</md-radio-button>
                    </md-radio-group>
                </div>
                <div>
                    <md-subheader>Outcome:</md-subheader>
                    <md-radio-group ng-model="hc.outcome">
                        <md-radio-button value="Apple">Quality Metric</md-radio-button>
                        <md-radio-button value="Banana"> Expense Metric </md-radio-button>
                        <md-radio-button value="Mango">Impact Metric</md-radio-button>
                    </md-radio-group>
                </div>
                <div>
                    <md-button class="md-raised md-primary">Export Data to Excel</md-button>
                    <md-button class="md-raised md-primary">Export Image to File</md-button>
                </div>
            </div>
        </div>
    </div>
</div>
